<nav>
  <div id="title">
    <h2>Control de clientes</h2>
  </div>

  <ul class="navbar-nav">
    <li *ngIf="isLoggedIn" class="nav-item">
      <a routerLink="/" class="nav-link">
        <i class="fas fa-home"></i> Inicio
      </a>
    </li>

    <li *ngIf="isLoggedIn" class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-user"></i>
        {{ loggedUser }}
      </a>
    </li>

    <!-- <li *ngIf="isLoggedIn" class="nav-item">
      <a routerLink="/configuracion" class="nav-link">
        <i class="fas fa-cog"></i>
        Configuración
      </a>
    </li> -->

    <li *ngIf="!isLoggedIn && permitirRegistro" class="nav-item">
      <a
        routerLink="/login"
        class="nav-link"
        routerLinkActive="router-link-active"
      >
        <i class="fas fa-user"></i> Login
      </a>
    </li>

    <li *ngIf="!isLoggedIn && permitirRegistro" class="nav-item">
      <a
        routerLink="/registrarse"
        class="nav-link"
        routerLinkActive="router-link-active"
      >
        <i class="fas fa-user"></i> Registrarse
      </a>
    </li>

    <li *ngIf="isLoggedIn" class="nav-item">
      <a style="cursor: pointer" (click)="logout()" class="nav-link">
        <i class="fas fa-user-times"></i> Salir</a
      >
    </li>
  </ul>
</nav>
